<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/trainers">All Trainers</a>
        </li>
        <li>
            <a href="/pokemon">All Pokemon</a>
        </li>
    </ul>
</nav>