<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Pokemon Trainers: </title>
</head>
<body>
    <%-include('../misc/nav')%>
    <h1> All Registered Trainers: </h1>
    <ul>
        <%if(trainers){ %>
        <% trainers.forEach((trainer) => { %>
            <%- include('trainerCard', {trainer: trainer}); %>
        <% }); %>
        <%} else { %>
            <p>There are no registered trainers</p>
        <%}%>
    </ul>
    <form action="/newtrainer">
        <input type="submit" method="GET" value="Add New Trainer">
    </form>
</body>
</html>